body{
   background-color: #424242; 
   margin:5%;
   padding:5%; 
}

#corps{
    color: white;
}

#corps a{
    text-decoration: none;
    color: white;
}

#bouton{
    background-color:  #e8e8e8;
    border:5px outset #e8e8e8;
    width: 25%;
    margin: 10px;  
    color: #424242;
}

#bouton:active{
    border-style: inset;
}
#cadre{
   border: 2px solid white;
   padding-top: 3%;
   padding-bottom: 3%;
}
#header{
    
}
