body{
   background-color: #424242; 
   margin:0%;
   padding:0; 
}

#corps{
    color: white;
    padding: 10%;
}

#corps a{
    text-decoration: none;
    color: white;
}

#bouton{
    border:5px outset white;
    width: 30%; 
}
#bouton a{
    padding: 20px;
    margin: 0px;
}

#bouton:active {
    border-style: inset;
    background-color: white;
    color: #424242;
}

#bouton:active a{
    color: #424242;
    
}

#tableau{
    width: 700px;
    font-size: 18px;
    text-align: center;
    padding:0px;
    border: 2px white solid;
    border-collapse: collapse;
}

.erreur{
    border: 2px solid black;
    font-size: 24px;
    font:serif bold;
    background-color: white;
    color: red;
    padding: 5px;
}

/*#tableau2{
    font-size: 18px;
    text-align: left;
    padding:0px;
    border: 2px white solid;
}*/

#tableau2 tr td{
    font-size: 18px;
    margin: 0px;
    padding: 20px;
    text-align: center;
    border-top: 2px white solid ;
    border-left: 2px white solid ;
}

#tableau2 tr td:last-child{
    border-right: 2px white solid ;
}

#tableau2 tr:last-child td{
    border-bottom: 2px white solid ;
}

#tableau tr td{
    margin: 0px;
    padding: 5px;
    text-align: center;
    border-top: 2px white solid ;
}

#formulaire label{
    float: left;
    font: 20px bold;
}

#formulaire select{
    float: right;
}

#formulaire input{
    float: right;
}
#cadre2{
   max-width: 1000px;
   border: 2px solid white;
   margin: 3%;
   padding: 5%;
   padding-top: 3%;
   padding-bottom: 3%;
}

#cadre{
   with: 10%;
   max-width: 750px;
   border: 2px solid white;
   margin: 5%;
   padding: 5%;
   padding-top: 3%;
   padding-bottom: 3%;
}
#header{
    background-color: white;  
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.headLeftBouton{
    float: left;
    display: inline-block;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.headLeftBouton a{
    text-decoration: none;
    color: black;
}

.headLeftBouton:hover{
    background-color: gray;
}

.headLeftBouton a:active{
    color: darkorange;
}

.headMidBouton{
    display: inline-block;
    margin: 0px;
    color: #990000;
    
}

.headRightBouton{
    float: right;
    display: inline-block;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    
}

.headRightBouton a{
    text-decoration: none;
    color: black;
}

.headRightBouton:hover{
    background-color: gray;
}

.headRightBouton a:active{
    color: darkorange;
}

#footer{
    color: white;
}